 <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                  <a class="page-nav" href="/"><img width="200px" src="/img/webjeda-logo.svg"></a>
                </li>
                <li>
                    <a class="page-nav" href="/about/">About</a>
                </li>
                <li>
                    <a class="page-nav" href="/archive/">Archive</a>
                </li>
                <li>
                    <a class="page-nav" href="/contact/">Contact</a>
                </li> 
                
                   <li>
                    <a class="page-nav" href="/search/">Search</a>
                </li>
                <li>
                    <a class="page-nav" href="#">Project on Github</a>
                </li>
                <li>
                    <a class="page-nav" href="#">Download</a>
                </li>
            </ul>
        </div>